<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ToDo List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>

  <h1>My ToDo List</h1>

  <div id="doto-table">
    <form action="/todo" method="post">
      <input type="text" name="item" placeholder="Add new item..." required>
      <button value="submit">Add Item</button>
    </form>
  </div>

  <ul>
    <% for(var i = 0; i < todos.length; i++){ %>
      <li><%= todos[i].item %></li>
    <% } %>
  </ul>
  <script src="/assets/todo-list.js"></script>
</body>
</html>
